h4{
    background-color: blueviolet;
    height: 30px;
    width: 50%;
    
}

#newwords{
    height: 10vh;
    width: 30vw;
}
img{
    height: auto;
    width: 20%;
}

#image{
    height: 250px;
    width: auto;
}