.block{
    width: 50%;
    border: 2px solid black;
    padding-top: 20px;

}

.logo{
    background-color: rgb(14, 243, 243);
    padding: 15px;
    margin-bottom: 10px;
}
.navigation,
.header,
.sidebar,
.bodyarea,
.footer{
    background-color: rgb(14, 243, 243);
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

#subblock{
    display: flex;
    gap: 10px;
    
}

.sidebar{
    width: 30%;
    min-height: 100px;
}

.bodyarea{
    width: 70%;
}


.block1{
    width: 50%;
    border: 3px solid black;
    padding-top: 20px;
    
}

.logo1,
.nav1{
     background-color: rgb(110, 236, 6);
     width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.header1,
.footer1,
.ita,
.box{
     background-color: rgb(110, 236, 6);
    padding: 17px;
    margin-bottom: 10px;
    text-align: center;
    
}

#subblock1{
    width: 100%;
    display: flex;
    
}

#sublock2{
    width: 50px;
}
.box{
    width: 70%;
    min-height: 90px;
    align-content: center;
}

.ita,
.header{
    min-height: 40px;
}