/* Responsive Typography */
/* Desktop */

h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
}

/* Tablet */
@media (max-width: 992px) {
    h1 {
        font-size: 38px;
        background-color: aqua;
    }
    
    p {
        font-size: 16px;
        background-color: bisque;
    }
}

/* Mobile */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
        background-color: brown;
    }

    p {
        font-size: 14px;
        background-color: cadetblue;
    }
}


/* Responsive Spacing */

#container {
    padding: 50px;
    margin: 40px;
    background-color: chartreuse;
}

/* Tablet */
@media (max-width:992px){
    #container{
        padding:30px;
        margin:25px;
        background: aqua;
    }
}

/* Mobile */
@media (orientation: portrait) and (max-width:768px){
    #container{
        padding:15px;
        margin:10px;
        background-color: brown;
    }
}


/* Responsive Navigation */
.menu{
    display:flex;
    gap:20px;
    background-color: chartreuse;
}

/* Mobile */
@media(max-width:768px){
.menu{
    flex-direction:column;
    text-align:center;
    background-color: brown;
}
}


/* Responsive Images */
#image{
    width:600px;
}

/* Tablet */
@media(max-width:992px){
#image{
    width:450px;
}
}

/* Mobile */
@media(max-width:768px){
#image{
    width:100%;
}
}